[MASTER]

persistent=no
jobs=1

[MESSAGES CONTROL]

# broad-execpt:
#   I am using a catch-all on Exception, to make sure that all exception
#   that are raised within the execution of a Micron method are caught
#   and sent to the client in a gift-wrapped format.
# deprecated-method:
#   I do use getargsig() in the code for backward compatibility. When
#   available, I do make use of the new inspect.signature() funtionality.
#   This also suppresses other deprecation warnings, but those are
#   also clearly communicated by "python setup.py test".
# too-few-public-methods:
#   I do use classes as pure data containers, without public methods.
# eval-used
#   I agree, eval is evil, but in this package, I use it for generating
#   and compiling dynamic code for performance. I promise I'll be 
#   really careful.
disable=broad-except,deprecated-method,too-few-public-methods,eval-used

[REPORTS]

output-format=text
files-output=no
reports=no

[VARIABLES]

init-import=no

[MISCELLANEOUS]

notes=TODO

[BASIC]

include-naming-hint=yes

[ELIF]

max-nested-blocks=2

[FORMAT]

max-line-length=80
max-module-lines=1000
indent-string='    '
indent-after-paren=4
expected-line-ending-format=LF

[CLASSES]

exclude-protected=_app_ctx_stack,_data,_get,_parent

[DESIGN]

max-args=5
max-locals=8
max-returns=3
max-branches=5
max-statements=30
max-parents=6
max-attributes=10
min-public-methods=2
max-public-methods=10
max-bool-expr=3
